.login {
    display: flex;
    flex-direction: column;
    padding: 24px;
    background-color: #555;
}

.login-column {
    margin: 4px 0;
}

.login-column:is(input) {
    padding: 0.6rem 0.7rem;
}

.login-column:is(label) {
    width: 225px;
    font-size: 1.1rem;
}

.login-column:is(button) {
    cursor: pointer;
    color: white;
    padding: .8rem;
    background-color: #0a4aff;
    border: none;
}

.login > div {
    display: flex;
    flex-direction: column;
    margin: 6px 0;
}

.sign-up {
    margin-top: 10px;
}
